{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col s12"><img src="/static/img/varmilo-mendozae.jpg"/></div>
    <div class="col s6"><img src="/static/img/Shurikey-Saizo.jpeg"/></div>
    <div class="col s6"><img src="/static/img/NuPhy-Halo65.jpeg"/></div>
    <div class="col s4"><img src="/static/img/zoom75-kit-3-min.jpg"/></div>
    <div class="col s4"><img src="/static/img/tex-shinobi.jpeg"/></div>
    <div class="col s4"><img src="/static/img/keychron-k3-pro.jpeg"/></div>
</div>
<div class="items">
    {% for item in items%}
    <div class="card">
        <a href="/product/{{'-'.join(item.title.lower().split())}}">
            <img src={{item.image}}>
        </a>
        <span style="padding-bottom: 20px;">{{item.title}}</span>
        {% if item.availability > 0 %}
            <div>В наличии</div>
        {% else %}
            <div>Нет в наличии</div>
        {% endif %}
        <span style="color: #03a9f4;">От {{item.price}} ₽</span>
    </div>
    {% endfor %}
</div>
{% endblock %}